.btnRed {

    background-color: red;

}
.btnGreen {

    background-color: green;

}

.question {

    background-color: #2573b7;
}

.answer {


    background-color: #1d538b;

}

.container {
    display: flex;
    flex-direction: column;
    background-color: #2573b7;

}
